# Yönlendirmeleri aktif eder
RewriteEngine on
 
# Yeni bir yönlendirme kuralı ekliyoruz
RewriteRule ^([0-9]+)/([0-9a-zA-Z-_]+)$  /grup-aciklamasi.php?sef=$2&id=$1 [L,QSA]
RewriteRule ^ana-sayfa$  /index.php [L,QSA]
RewriteRule ^m$  /mobil.php [L,QSA]
RewriteRule ^gruplar$  /gruplar.php [L,QSA]
RewriteRule ^gruplar/([0-9a-zA-Z-_]+)$  /gruplar.php?sayfa=$1 [L,QSA]
RewriteRule ^kategori/([0-9a-zA-Z-_]+)$  /kategoriler.php?seokategori=$1 [L,QSA]
RewriteRule ^kategori/([0-9a-zA-Z-_]+)/([0-9]+)$  /kategori/$1?page=$2[L,QSA]
RewriteRule ^hesap-ayarlari$  /hesap-ayarlari.php [L,QSA]
RewriteRule ^onaylanan-gruplarim$  /onaylanan-gruplarim.php [L,QSA]
RewriteRule ^onaylanan-gruplar$  /onaylanan-gruplar.php [L,QSA]
RewriteRule ^grup-listesi$  /grup-listesi.php [L,QSA]
RewriteRule ^onay-bekleyen-gruplarim$  /onay-bekleyen-gruplar.php [L,QSA]
RewriteRule ^grup-ekle$  /grup-ekle.php [L,QSA]
RewriteRule ^kategoriler$  /kategoriler-admin.php [L,QSA]
RewriteRule ^kategori-ekle$  /kategori-ekle.php [L,QSA]
RewriteRule ^reklam-ayarlari$  /reklam-ayarlari.php [L,QSA]
RewriteRule ^site-ayarlari$  /site-ayarlari.php [L,QSA]
RewriteRule ^uyeler$  /uyeler.php [L,QSA]
RewriteRule ^uye-ekle$  /uye-ekle.php [L,QSA]
RewriteRule ^grup-duzenle/([0-9a-zA-Z-_]+)$  /grup-duzenle.php?id=$1 [L,QSA]
RewriteRule ^kategori-duzenle/([0-9a-zA-Z-_]+)$  /kategori-duzenle.php?idsi=$1 [L,QSA]
RewriteRule ^uye-duzenle/([0-9a-zA-Z-_]+)$  /uye-duzenle.php?id=$1 [L,QSA]
RewriteRule ^giris-yap$  /giris-yap.php [L,QSA]
RewriteRule ^kayit-ol$  /kayit-ol.php [L,QSA]
RewriteRule ^cikis-yap$  /cikis-yap.php [L,QSA]
RewriteRule ^sifremi-unuttum$  /sifremi-unuttum.php [L,QSA]
RewriteRule ^hatali-gruplar$ /hatali-grup.php [L,QSA]
RewriteRule ^sifre-guncelle/([0-9a-zA-Z-_]+)$  /sifre-guncelle.php?token=$1 [L,QSA]